
<li class="media col-sm-12 col-md-8 " data-id ="<%=w.id%>">
  <a class="pull-left" href="#">
    <% if current_user.gender == "male" %>
      <img class="media-object" src="<%= w.imgurl %>" alt="...">
    <% else %>
      <img class="media-object" src="<%= w.imgurl %>" alt="...">
    <% end %>
  </a>
  <div class="media-body workout__item">
    <h4 class="media-heading"> <%= link_to w.title, workout_path(w.id)%> </h4> 
      <ul>
	      <% w.exercises.each do |ex|%>
	      	<li>Weight:<%=ex.weight%> Reps: <%=ex.reps%> Sets: <%=ex.sets%></li>
      <% end %>
      </ul>
      <%=link_to "Delete Record", delete_workout_path(w.id), method: "DELETE", data: { confirm: "Are you sure?" }, class: "btn btn-lrg btn-danger" %>
  </div>

</li>
