<div class="jumbotron" id="workout__results">
	<ul>
		<div class="jumbotron-header"><h1> Well done! You smashed <%= @worktemp.name %>!</h1></div>
		<% @exercises.each do |ex| %>
			<% if ex.sets == nil %>
				<li><%= ex.name %> Distance:<%=ex.distance%> Time: <%=ex.time%> Calories: <%=ex.calories%> </li>
				<% else %>
				<li><%= ex.name %> Weight:<%=ex.weight%> Reps: <%=ex.reps%> Sets: <%=ex.sets%> </li>
			<% end %>
		<% end %>
	</ul>
	<%= link_to "Back to Your Past Workouts", workouts_path %>
</div>