
<!DOCTYPE html>
<html>
<head>
  <title>Trainr</title>
  
	<%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'  %>
    <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >Chiros</a>
      <% if current_user.present? %>
      	<a class="navbar-brand" >Welcome, <%=current_user.name%></a>
      <% end %>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <% if current_user.present? %>
        <li class="active"><%= link_to "Home", user_path(current_user) %></li>
       <% end %> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Workouts <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Session Plans", workouts_templates_path %></li>
            <li><%= link_to "Your Workouts", workouts_path %></li>
            <li><%= link_to "Exercise Library", templates_path %></li>
            <li><%= link_to "Custom Workout", new_workouts_template_path %></li>
            
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">      
            <li><%= link_to "My Account" , edit_user_registration_path(current_user)%></li>
            <li><% if current_user %>
				  <%= link_to "Log Out!", destroy_user_session_path, method: "DELETE" %>
				<% else %>
					<%= link_to "Log In!", new_user_session_path %>
				<% end %>
			</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="top-bar container">







	<%= yield %>
</div>
</body>
</html>
